<div class="profile_container col-9 col-s-12" style="clear:both">
  <div class="profile_info">
    <div class="profile_pic">
        <%= image_tag "#{@user.picture}", class: 'crop'%>
    </div>
    <div class="username">
      <%= @user.email %> <br />
    </div>
  </div>
  <hr />
  <table class="user_reviews_table col-12">

  </table>
</div>
